<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="field">
          <%= form.label "名称" %>
          <%= form.text_field :stuff_name, class: "form-control" %>
        </div>

        <div class="field">
          <%= form.label "画像" %>
          <%= form.file_field :image, id: :post_image, class: "form-control" %>
        </div>

        <div class="field">
          <%= form.label "詳細" %>
          <%= form.text_area :description, class: "form-control" %>
        </div>

        <div class="actions">
          <%= form.submit "投稿", class: "btn btn-primary btn-lg btn-block" %>
        </div>

        <div class="actions">
          <%= link_to '戻る', posts_path , class: "btn btn-link btn-lg btn-block" %>
        </div>
      </div><!-- End of col-sm-6 col-sm-offset-3 -->
    </div><!-- End of row -->
  </div><!-- End of container -->
<% end %>
