<p id="notice"><%= notice %></p>
<h1>投稿一覧</h1>

<div class="container">
  <div class="row">
<!--    <table>-->
<!--      <thead>-->
<!--        <tr>-->
<!--          <th class="col-sm-4">ユーザー名</th>-->
<!--          <th class="col-sm-4">名称</th>-->
<!--          <th class="col-sm-4">画像</th>-->
<!--          <th class="col-sm-4">詳細</th>-->
<!--          <th class="col-sm-4">コメント</th>-->
<!--          <th colspan="3"></th>-->
<!--        </tr>-->
<!--      </thead>-->

<!--      <tbody>-->
        <% @posts.each do |post| %>
          <div class="content_post" style="background-image: url(<%= post.image %>);">
            <%= simple_format(post.description) %>
            <span class="name">
              <a href="">
                <span>投稿者</span><%= post.user.username %>
              </a>
            </span>
          </div>




<!--          <tr>-->
<!--            <td class="col-sm-4"><%#= post.user.username %></td>-->
<!--            <td class="col-sm-4"><%#= post.stuff_name %></td>-->
<!--            <td class="col-sm-4"><%#= image_tag(post.image_url) if post.image.present? %></td>-->
<!--            <td class="col-sm-4"><%#= post.description %></td>-->
<!--            <td class="col-sm-4"><%#= post.comment %></td>-->

            <%# if user_signed_in? %>
<!--                <td><%#= link_to '表示', post %></td>-->
<!--                <td><%#= link_to '編集', edit_post_path(post) %></td>-->
<!--                <td><%#= link_to '削除', post, method: :delete, data: { confirm: '削除してよろしいですか?' } %></td>-->
            <%# end %>
<!--          </tr>-->
        <% end %>
<!--      </tbody>-->
<!--    </table>-->
        <%= paginate(@posts) %>
    <br>
  </div>
</div>
