<p id="notice"><%= notice %></p>

<p>
  <strong>Stuff name:</strong>
  <%= @post.stuff_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @post.comment %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user_id %>
</p>

<p>
  <strong>Success:</strong>
  <%= @post.success %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
