<p id="notice"><%= notice %></p>

<p>
  <strong>名称:</strong>
  <%= @post.stuff_name %>
</p>

<p>
  <strong>画像:</strong>
  <%= image_tag(@post.image_url) if @post.image.present? %>
</p>

<p>
  <strong>説明:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>コメント:</strong>
  <%= @post.comment %>
</p>

<%= link_to '編集', edit_post_path(@post) %> |
<%= link_to '戻る', posts_path %>
